Course Desktop Application/__pycache__/RegistrationForm.cpython-311.pyc
Course Desktop Application/__pycache__/DatabaseHandler.cpython-311.pyc
Course Desktop Application/students.db
Course SQL and Database/HTUxCourse.accdb
Course SQL and Database/HTUxCourseDatabase.db